﻿@model Notes.Models.Note
@{
    ViewBag.Title = "Read";
}

    <div class="container">

        <h2>@Model.title</h2>

        <p>@Model.date</p>
        <div class="card">
        <blockquote>@Model.note</blockquote>
            </div>
        
        @Html.ActionLink("Update", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.id })

    </div>



