﻿@model Notes.Models.Note
@{
    ViewBag.Title = "New";
}
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Add", "Home"))
{
<div class="form-group">
    <label for="date">Date:</label>
    <input type="date" class="form-control" id="date" name="date">
</div>
<div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" name="title">
</div>
<div class="form-group">
    <label for="note">Note:</label>
    <textarea class="form-control" id="note" name="note" rows="10" cols="5"></textarea>
</div>

<button type="submit" class="btn btn-primary">Save</button>
}
