﻿@model List<Notes.Models.Note>
@{
    ViewBag.Title = "Home Page";
}
<h1>Titles of the Notes</h1>


@foreach (var n in Model)  
{
<div class="container">
    @Html.ActionLink(n.title, "Get", new { id = n.id }) |
</div>
}
